.container {
    max-width: 1940px;
    width: 100%;
    margin: 0 auto;

}

.section1 {
    width: 100%;
    height: 650px;
    padding: 0 0 96px 0;
    background-image: url(/Images2/Rectangle\ 107.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.header {
    width: 1940px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: #D5906E85;
    background: rgba(213, 144, 110, 0.52);
    position: fixed;
    


}

.header_sign {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
    gap: 60px;
    font-size: 20px;
    

}

.a_li:active {
    color: #D5906E;
}

.header_logo1 {
    align-items: flex-end;
    

}


li a {
    color: white;
}

.section1_tittle {
    align-items: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 48.41px;
    color: #FFFFFF;
    margin-top: 240px;

}

.section1_text {
    width: 44%;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: white;
    margin-top: 16px;

}

.section1_shop {
    border: #D5906E solid;
    border-radius: 10px;
    width: 311px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 162px;
    
    
    
}

.p_shop {
    font-size: 16px;
    width: 78px;
    height: 20px;
    font-weight: 400;
    line-height: 19.36px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
   

}

article {
    width: 100%;
    padding: 96px 0;
    background-color: white;
}

.cards {
    width: 90%;
    margin-inline: auto;
    display: flex;
    gap: 60px;
    justify-content: center;


}

.card {
    width: 190px;
    height: 160px;
    gap: 30px;
}

.artwork_card {
    transition: 1s ease;
    }
    
    .artwork_card:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    }

.article_p {
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    color: #B53B1B;
}

/* .section_caregory {
    width: 1940px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    
}

.search_box2 {
    border: 1px solid;
    border-color: #402101;
    border-radius: 10px;
    margin-top: 56px;
    width: 690px;
    height: 56px;
    color: #40210185;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.search_search2 {
    display: flex;
    justify-content: space-between;
    border-radius: 0px 10px 10px 0px;
    width: 151px;
    height: 56px;
    background-color: white;
    color: black;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    background-color: #402101;
}

.section_page2 {
    display: flex;
    justify-content: center;
    margin-top: 161px;
}

.page2_sect2img {
    display: flex;
    margin-top: 178px;
    margin-left: 800px;
    vertical-align: middle;

}

.search_p2 {
    color:#40210185;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-left: 16px;
} */

.category_shop {
    width: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    
    
}

.shop_p {
    font-size: 18px;
    color: #402101;
    display: flex;
    
    
}

.category_border {
    border: 1px solid;
    border-color: #402101;
    border-radius: 10px;
    
    width: 690px;
    height: 56px;
    color: #40210185;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    

}

.search {
    display: flex;
    justify-content: space-between;
    border-radius: 0px 10px 10px 0px;
    width: 151px;
    height: 56px;
    background-color: white;
    color: white;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    background-color: #402101;
}

.border_search {
    color:#40210185;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-left: 16px;
}



.all_category {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.all_category.sp-around {
    justify-content: space-around;
}

.category {
    
    
    display: flex;
    justify-content:center;
    align-items: center;

    margin-top: 161px;
}

.all_category_p {
    font-size: 40px;
    color: #402101;
}

.sort_p {
    font-size: 24px;
    color: #402101;
}

.sort {
    display: flex;
    gap: 69px;
    
}

.div_cards1 {
    width: 60%;
    height: 100px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 110px;
    margin-top: 113px;
    border-radius: 8px;
    
}

figcaption {
    font-size: 16px;
    color: #B53B1B;
    margin-top: 24px;
}

.cards_p {
    display: flex;
    justify-content: space-between;
}

.card_sale {
    font-size: #402101;
    color: #402101;
    margin-top: 24px;
}

 

.numbers {
    width: 1920px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-less-than {
    border: 2px solid red;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    
}

.fa-greater-than {
    border: 2px solid red;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}



.number_p {
    border: 2px solid red;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}

.number_p3 {
    border: 2px solid red;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    background-color: #B53B1B;
    color: #FFFFFF;
}

footer {
    width: 1920px;
    height: 240px;
    margin: 0 auto;
    background-color: #402101;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.footer_p {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 16px;
    
    
}

.footer_p2 {
    color: #FFFFFF;
    font-size: 18px;
}

.footer_logos {
    margin-top: 44px;
}

.footer_logo2 {
    width: 234px;
    height: 44px;
    align-self: flex-start;
    margin-top: 32px;
}

.footer_div {
    height: 20px;
    display: flex;
    gap: 34px;
    align-items: center;
    margin-bottom: 34px;
}

.footer_content1 {
    gap: 34px;
   





